@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700&display=swap");

*{
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  background-color:#05172c;
}

.container{
  width: 100%;
  margin: 1em;

}
.navbar{
    height: 75px;
    background-color: #05172c;
}
.grid{
  display: grid;
  margin-left: .5px;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 0.2em;
  justify-content: center;
}
.trending{
    margin: 1rem 8rem;
    color: white;
}
.page-item .page-link {
    background-color: #05172c;
    color:white;
    border: none;
    margin: 1rem  2rem;
}
